:root {
  --backgroundImg: white;
}

body, html {
  color: black;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-position: center  !important;
  background-repeat: no-repeat  !important;
  background: var(--backgroundImg);
}

.ui.grid {
    height: 100%;
    align-self: center;
}

.column:hover {
  cursor: default;
  color: red;
}
